.Player {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.Player div:first-child {
  padding-top: 2em;
  align-items: top;
  display: flex;
  flex: 1;
  justify-content: center;
}

.Player-cards {
  border: 10px solid rgba(240, 186, 0, 0.5);
  height: 200px;
  width: 153px;
}

.Player-controls {
  color: #A82C14;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
  padding: 1em 2em;
  font-family: 'Economica', sans-serif;
  font-size: 1em;
  font-weight: bold;
  max-height: 250px;
  overflow: hidden;
  position: fixed;
  transition: max-height 1s, padding 1s;
  bottom: 0;
}

.Player-controls.disabled {
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.Player-controls p {
  margin: 0.25em;
  font-size: 1.25em;
}

.Player-controls button {
  font-size: 1em;
}
