body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.6);
  background-color: #076324;
}

h1, h2 {
  font-family: 'Abril Fatface';
}

h1 {
  font-size: 3.8em;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 3.0em;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

button {
  background-color: inherit;
  border: 1px solid #011C47;
  border-radius: 2px;
  color: #011C47;
  cursor: pointer;
  font-family: 'Economica', sans-serif;
  margin: 0.25em;
  text-transform: uppercase;
}

button:hover {
  background-color: #ccc;
}

button:disabled {
  background-color: #ddd;
  border: 1px solid #777;
  color: #777;
  cursor: default;
}
